@font-face {
  font-family: 'Doo';
  src: url("../fonts/Sofia/Sofia\ Pro\ Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'BrownStd';
  src: url('../fonts/brownStd/BrownStdRegular.eot');
  src:
    url('../fonts/brownStd/BrownStdRegulard41d.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brownStd/BrownStdRegular.woff') format('woff'),
    url('../fonts/brownStd/BrownStdRegular.ttf') format('truetype'),
    url('../fonts/brownStd/BrownStdRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: BrownStd;
  box-sizing: border-box;
  color: #FFF;
}
body {
  background-color: #1F1D1D;
}
.navbar-light .navbar-brand {
  cursor: default;
}
nav .navbar-light,
nav .navbar-toggler {
  border-color: #eee !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFF;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #eee;
}
.arrow {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 60px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.arrow a {
  transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
}
.navbar-expand-lg .navbar-nav .nav-link {
  margin-left: 14px;
}
header .b-text {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-top: 200px;
  font-size: 40px;
}

.section-size {
  background-color: transparent;
}

.tra-text h1 {
  position: relative;
  z-index: 9999;
  text-align: center;
  transform: translate(5px, 360px);
  line-height: 2;
}

.mg-i {
  overflow: hidden;
}
.img {
  position: relative;
  right: -180px;
  float: right;
}
.time {
  display: block;
}
.time h5 {
  text-align: center;
}
.time button {
  float: right;
}
.top {
  margin-bottom: 40px;
}
.btn-top,
.top {
  float: right;
  width: 120px;
  text-align: center;
}

.top .back {
  text-transform: uppercase;
  color: #15C4E7;
}
.top a:hover {
  text-decoration: none;
}